.footer{
    width: 100%;
    min-height: 0;
    background-color: black;
}

.footer span{
    color:#eee;
    font-family: "Playfair Display","Bookman", serif;
}

.footer-logo {
    width: 250px;
    height: 200px;
    margin-top: 0;
}

.footer-links {
    display: block;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 25px;
    padding-top: 10px;
}

.in-touch {
    padding-top: 5%;
}

.footer-menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.footer-menu ul {
    align-items: center;
    padding-top: 14%;
  }
@media (max-width: 767px) {
    .footer-menu ul {
        padding-top: 0;
      }
}

.footer-menu li a {
    text-decoration: none;
    display: block;
    color: #eee;
    font-weight: 100;
    font-family: "Playfair Display","Bookman", serif;
  }

  .footer-menu li a:hover{
    color: #c50000;
  }

.footer-links a{
    color: #eee;
    padding-left: 25px;
    
}

.footer-icon:hover{
    color: #c50000;
}

.rights{
    padding-top: 10px;
    font-weight: 100;
    font-style: italic;
    font-family: "Playfair Display","Bookman", serif;
    color: #eee;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: #fba92c;
}

.back-to-top:hover{
    color:#c50000;
}